<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body>
<div class="container">
<h1>Make new post</h1>
<p><br>
<%= render 'form' %>
</br></p>
<p>
<%= link_to 'Back', posts_path %>
</p>
</div>
</body>